<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body bgcolor="7bffec">
<h1 align="center">Блог Машин</h1>
<br>
<div>
    <ol>
        {% for i in post %}
        <li>
            <h2>{{i.title}}</h2>
            <p>{{i.description}}</p>
            <img src="{{i.image.url}}" alt="" width="550" height="400">
            <p>{{i.created_date}}</p>
            <a href="{{i.url}}">Подробнее</a>
        </li>
        {% endfor %}
    </ol>
</div>
</body>
</html>